<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en{{ end }}">
  <head>
  	<meta charset="utf-8">
  	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
  	<meta name="description" content="">
  	<meta name="author"      content="{{ .Site.Author }}">
    
    {{ partial "head/head.html" . }}
    <style>
      /* @font-face{
        font-family: 'Roboto Mono';
        src: url('fonts/JetBrainsMono-Regular.woff2') format('woff2');
      } */

      @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
    </style>
  </head>
  
  <body class="home">

    {{ block "header" . }}
      {{ partial "head/header.html" . }}
    {{ end }}
 
    {{ block "main" . }}
    {{ end }}
    
    {{ block "footer" . }}
      {{ partial "footer/footer.html" . }}
    {{ end }}
  </body>
  
</html>