{{ $events := where .Data.Pages "Section" .Section }}
{{ $upcoming := where $events "Params.date" "ge" time.Now }}
{{ $past := where $events "Params.date" "lt" time.Now }}

{{ if eq (len $upcoming) 0 }}
    <div class="announcement">We currently have no events planned. Stay tuned! 🥨 </div>
{{ else }}
    {{ range $upcoming.ByDate }}
        <div class="wrapper" id="{{ .Params.id }}">
        <div class="img">
            <img src={{ .Params.image }} alt="round">
        </div>
        <div class="event">
            <h3>{{ .Params.title }}</h3>
            <p>{{ .Params.summary }}</p>
            <p><a href="{{ .Permalink }}" class="btn btn-action">Read more</a></p>
            <!-- <p class="text-center"><a href="{{ .Permalink }}" class="btn btn-action">Read more</a></p> -->
        </div>
        </div>
    {{ end }}
{{ end }}

<!-- <h2 class="section-title">
    <span>Past Events</span>
</h2> -->

<div id="pastevents"></div>
<div class="row section featured topspace">
<h2 class="section-title">
    <span>Past Events</span>
</h2>

{{ range $past.ByDate.Reverse }}
    <div class="wrapper" id="{{ .Params.id }}">
    <div class="img">
        <img src={{ .Params.image }} alt="round">
    </div>
    <div class="event">
        <h3>{{ .Params.title }}</h3>
        {{ if .Params.recording }}
        <p>{{ .Params.summary }} | <a href="{{ .Params.recording }}">Youtube Recording</a></p>
        {{ else }}
        <p>{{ .Params.summary }}</p>
        {{ end }}
        <p><a href="{{ .Permalink }}" class="btn btn-action">Read more</a></p>
    </div>
    </div>

{{ end }}

</div>